@font-face {
  font-family: ArchivoNarrow;
  src: url(../font/ArchivoNarrow-Regular.woff2);
  font-family: Montserrat;
  src: url(../font/Montserrat-Regular.ttf);
}

@media all and (max-width: 768px) {
    body{font-size: 12px;}
}

@media all and (max-width: 992px) {
    body{font-size: 14px;}
}

@media all and (max-width: 1200px) {
    body{font-size: 15px;}
}

@media all and (min-width: 1201px) {
    body{font-size: 16px;}
}

// Variables
$home-header-color:#2b2b2b;
$header-font:Montserrat;
$main-font:ArchivoNarrow;

html, body, p, span {
  font-family: $main-font;
  font-size: 1.5rem;
  font-weight: 400;
}

// Navigation - don't use .navbar
.top-menu {
  background-color: transparentize(#146ea6, .5);
  margin: 0;
  padding: 1rem 0 1rem;
  text-align: center;
  width: 100%;
  ul li {
    color: $home-header-color;
    display: inline;
    font-family: $header-font;
    font-size: 1.5rem;
    font-weight: 300;
    list-style: none;
    padding: 1.5rem 1rem .5rem;
    position: sticky;
    a {
      color: inherit;
    }
  }
}

.nav {
  li {
    a {
      font-family: $header-font;
    }
  }
}

.tab-pane {
  font-family: $header-font;
}
// Homepage Headers
.homepage {
  color: $home-header-color;
  font-family: $main-font;
  margin: 0;
  h1 {
    color: inherit;
    font-family: $header-font;
    font-size: 4rem;
    font-weight:900;
    padding: 1rem 0 1rem;
    text-align: center;
  }
  h2 {
    color: inherit;
    font-family: $header-font;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
  }
  html p span{
    font-family: $main-font !important;
    font-size: 1.5rem;
    font-weight: 400;
  }
}
