@font-face {
  font-family: ArchivoNarrow;
  src: url(../font/ArchivoNarrow-Regular.woff2);
  font-family: Montserrat;
  src: url(../font/Montserrat-Regular.ttf);
}

// Variables
$dark-text: #2b2b2b;
$light-text: #fff;
$header-font: Montserrat;
$main-font: ArchivoNarrow;
$main-font-size: 1.5rem;
$title-shadow: 2px 2px 3px black;
$h1-font-weight: 900;
$h2-font-weight: 700;
$h3-font-weight: 400;
$bps-font-weight: 300;

// @mixin header-font{
//   font-family: Montserrat;
//   font-weight: 700;
// }
//
// @mixin main-font{
//   font-family: ArchivoNarrow;
//   font-weight: 300;
// }

@media screen and (max-width:768px){
  html{font-family:$main-font;font-size: 12px !important;}
  h1{font-size: 2.5rem !important;}
  h2{font-size: 1.7rem !important;}
  h3{font-size: 1.5rem !important;}
  body, p, span {font-size: 1rem !important;}
}
@media screen and (min-width:768px){
  html{font-family:$main-font;font-size: 14px !important;}
  h1{font-size: 3.5rem !important;}
  h2{font-size: 2.5rem !important;}
  h3{font-size: 2rem !important;}
  body, p, span {font-size: 1.25rem !important;}
}
@media screen and (min-width:992px){
  html{font-family:$main-font;font-size: 15px !important;}
  h1{font-size: 4rem !important;}
  h2{font-size: 2.75rem !important;}
  h3{font-size: 2.5rem !important;}
  body, p, span {font-size: 1.5rem !important;}
}
@media screen and (min-width:1200){
  html{font-family:$main-font;font-size: 16px !important;}
  h1{font-size: 4rem !important;}
  h2{font-size: 2.75rem !important;}
  h3{font-size: 2.5rem !important;}
  body, p, span {font-size: 1.5rem !important;}
}

h1{font-weight: $h1-font-weight !important;}
h2{font-weight: $h2-font-weight !important;}
h3{font-weight: $h3-font-weight !important;}
body, p, span{font-weight: $bps-font-weight !important;}

// Navigation - don't use .navbar
.top-menu {
  background-color: transparentize(#146ea6, 1);
  color: $light-text;
  margin: 0;
  padding: 1rem 0 1rem;
  text-align: center;
  width: 100%;
  ul li {
    // color: $dark-text;
    display: inline;
    font-family: $header-font;
    font-size: $main-font-size;
    font-weight: 300;
    list-style: none;
    padding: 1.5rem 1rem .5rem;
    position: sticky;
    a {
      color: inherit;
    }
  }
}

.top-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
  // background-color: rgba(102,102,102,.25);
  background-repeat: no-repeat;
  height:40vh;
  width: 100%;
  // position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#marketing-bg {
  background-image: url(../img/digital-marketing-agency.jpg);
}

.top-title {
  color: $light-text;
  h1 {
    font-family: $header-font;
    padding: 3rem 0 1rem;
    text-align: center;
    text-shadow: $title-shadow;
  }
  p {
    font-family: $header-font;
    padding:0 0 5rem;
    text-align: center;
    text-shadow: $title-shadow;
  }
}

.tab-pane {
  font-family: $header-font;
}
// Homepage Headers
.homepage {
  color: $dark-text;
  font-family: $main-font;
  margin: 0;
  h1 {
    color: inherit;
    font-family: $header-font;
    font-weight:900;
    padding: 1rem 0 1rem;
    text-align: center;
  }
  h2 {
    color: inherit;
    font-family: $header-font;
    font-weight: 700;
    text-align: center;
  }
  h3 {
    color: inherit;
    font-family: $header-font;
    font-weight: 400;
    text-align: center;
  }
  html, body, p, span{
    font-family: $main-font;
    font-weight: 300;
  }
}
