.event {
  &__date {
    @include content-font;
    background: $color-primary;
    color: $color-font-dark-bg;
    margin: 0; // Overrides taffy h3 margin-top, bottom
    padding: 10px 15px;
    text-transform: uppercase;
  }

  &__pic {
    background: $color-background-event-bottom;
  }

  &__time {
    @include heading-font;
    background: $color-background-event-bottom;
    color: $color-secondary;
    margin: -.4rem 0 0;
    padding: 5px 15px 2.5px;
    text-transform: capitalize;
  }

  &__title {
    @include heading-font;
    background: $color-background-event-bottom;
    color: $color-primary;
    margin: 0;
    padding: 2.5px 15px;
    text-transform: capitalize;
  }

  &__details {
    background: $color-background-event-bottom;
    margin: 0 0 1rem;
    padding-bottom: 5px;
    width: 100%;
  }

  &__details-link {
    @include heading-font;
    color: $color-primary;
    letter-spacing: .06em;
    margin: 0;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;

    &:hover,
    &:focus {
      color: darken($color-primary, 15);
      transition: color .2s ease-out;
    }
  }
}

.event-details {
  padding-bottom: 2.5rem;
}