.gallery {
  background: lighten($color-primary, 35);
  padding-bottom: 2rem;
  padding-top: .5rem;

  &__img {
    max-height: 243px;
    min-height: 243px;
    min-width: 100%;

    &:hover {
      box-shadow: $gallery-img-shadow;
    }
  }
}

.summary {
  background: lighten($color-secondary, 35);
  padding-bottom: 2rem;
  padding-top: 2rem;

  &__text {
    @include content-font;
    color: $color-font-light-bg;
  }
}
