.hero {
  background-size: cover;
  height: 100%;
  padding-bottom: $hero-vertical-padding;
  width: 100%;

  &--west {
    background: linear-gradient(transparentize($black, .7), transparentize($black, .7)),
    url('/assets/img/bg/totems-desktop.jpg') center center no-repeat;
    // background: linear-gradient(transparentize($color-primary, .6), transparentize($color-primary, .6)),
    // url('//unsplash.it/1600/1000/?gravity=west') center center no-repeat;
    background-size: cover;
    text-shadow: 1px 0 5px $black;
  }

  &__title {
    @include heading-font;
    color: $white;
    padding-top: $hero-vertical-padding;
    text-align: center;
    text-transform: uppercase;
  }

  &__sub-title {
    @include content-font;
    color: $white;
    text-align: center;
  }
}
