.hero {
  background-size: cover;
  height: 100%;
  padding-bottom: $hero-vertical-padding-mobile;
  width: 100%;

  @media only screen and (min-width: 768px) {
    padding-bottom: $hero-vertical-padding-desktop;
  }

  &--west {
    background: linear-gradient(transparentize($black, .7), transparentize($black, .7)),
    url('../img/bg/totems-desktop.jpg') center center no-repeat;
    // background: linear-gradient(transparentize($color-primary, .6), transparentize($color-primary, .6)),
    // url('//unsplash.it/1600/1000/?gravity=west') center center no-repeat;
    background-size: cover;
    // text-shadow: 1px 0 5px $black;
  }

  &--events {
    background: linear-gradient(transparentize($black, .7), transparentize($black, .7)),
    url('../img/bg/totems-desktop.jpg') center center no-repeat;
    background-size: cover;
  }

  &__title {
    @include heading-font;
    color: $white;
    font-size: 4rem;
    letter-spacing: .07em;
    padding-top: $hero-vertical-padding-mobile;
    text-align: center;
    text-transform: uppercase;

    &--pages {
      font-size: 4rem;
    }

    @media only screen and (min-width: 768px) {
      padding-top: $hero-vertical-padding-desktop;
    }
  }

  &__sub-title {
    @include content-font;
    color: $white;
    padding-left: .25rem;
    padding-right: .25rem;
    text-align: center;

    // unvisited link
    a:link {
      color: $a-link-color;
      text-decoration: $a-link-text-dec;
    }

    // visited link
    a:visited {
      color: $a-link-color;
      text-decoration: $a-link-text-dec;
    }

    // mouse over link
    a:hover {
      color: $a-subtitle-hover-color;
      text-decoration: $a-hover-text-dec;
    }

    // selected link
    a:active {
      color: $a-subtitle-active-color;
      text-decoration: $a-hover-text-dec;
    }
  }
}
