.nav {
  .nav__item {
    @include nav-font;
    color: $white;
    list-style: none;
    text-align: center;
    text-decoration: none;
    // text-shadow: 1px 0 5px $black;
    text-transform: capitalize;

    &:hover,
    &:focus {
      background: $color-primary;
      text-shadow: none;
    }
  }
}

.section-title {
  @include heading-font;
  padding-bottom: $section-title-padding;
  padding-top: $section-title-padding;
  text-transform: uppercase;

  &--dark-bg {
    border-bottom: $section-title-border-size solid $color-font-dark-bg;
    color: $color-font-dark-bg;
  }

  &--light-bg {
    border-bottom: $section-title-border-size solid $color-primary;
    color: $color-primary;
  }
}
