.gallery {
  background: lighten($color-primary, 35);
  padding-bottom: 2rem;
  padding-top: .5rem;

  &__img {
    max-height: 243px;
    min-height: 243px;
    min-width: 100%;

    &:hover {
      box-shadow: $gallery-img-shadow;
    }
  }
}

.summary {
  background: lighten($color-secondary, 35);
  padding-bottom: 2rem;
  padding-top: 2rem;

  &__text {
    @include content-font;
    color: $color-font-light-bg;
  }
}

.contact {
  padding-bottom: 2rem;
  padding-top: 2rem;

  &__title {
    @include heading-font;
    text-align: center;
  }
}

.activity {
  padding-bottom: 3rem;
  padding-top: 1rem;

  &--odd {
    background: lighten($color-secondary, 45);
  }

  &--even {
    background: lighten($color-primary, 35);
  }

  &__text {
    @include content-font;
    color: $color-font-dark-bg;
    padding-left: 5px;
    padding-right: 5px;

    &--activities {
      color: $color-font-light-bg;
    }
  }
}

.about {
  padding-bottom: 5rem;
  padding-top: 5rem;

  &--donna {
    border-top-color: $color-secondary !important;
    border-top: .5rem;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
  }

  &__text {
    @include content-font;
  }
}
