.gallery {
  background: lighten($color-primary, 35);
  padding-bottom: 2rem;
  padding-top: .5rem;

  &__img {
    max-height: 243px;
    min-height: 243px;
    min-width: 100%;

    &:hover {
      box-shadow: $gallery-img-shadow;
    }
  }
}

.summary {
  background: lighten($color-secondary, 35);
  padding-bottom: 2rem;
  padding-top: 2rem;

  &__text {
    @include content-font;
    color: $color-font-light-bg;
  }
}

.contact {
  padding-bottom: 2rem;
  padding-top: 2rem;

  &__title {
    @include heading-font;
    text-align: center;
  }
}

.activity {
  padding-bottom: 3rem;

  &--odd {
    background: lighten($color-secondary, 45);
  }

  &--even {
    background: lighten($color-primary, 35);
  }

  &__text {
    @include content-font;
    color: $color-font-dark-bg;
    padding-left: 5px;
    padding-right: 5px;

    &--activities {
      color: $color-font-light-bg;
    }
  }
}

.event-details {
  padding-bottom: 2.5rem;

  th {
    padding-left: .25rem;
  }
}

.content-text {
  @include content-font;
  ol>li {
    margin-left: 1rem;
  }
}

.select-container {
  padding-bottom: .5rem;
}

.success-text {
  border-color: $color-primary;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}