.gallery {
  background: lighten($color-primary, 35);
  padding-bottom: 2rem;
  padding-top: .5rem;

  &__img {
    max-height: 243px;
    min-height: 243px;
    min-width: 100%;

    &:hover {
      box-shadow: $gallery-img-shadow;
    }
  }
}

.bg-img {
  background-size: cover;
  height: 100%;
  width: 100%;

  &--activities {
    background: $color-background-activities;
    background-size: cover;
  }

  &--event {
    background: lighten($color-primary, 35);
    background-size: cover;
  }
}

.panel {
  padding-bottom: $padding-section-bottom;
}

.section-title {
  @include heading-font;
  padding-bottom: $section-title-padding;
  padding-top: $section-title-padding;
  text-transform: uppercase;

  &--dark-bg {
    border-bottom: $section-title-border-size solid $color-font-dark-bg;
    color: $color-font-dark-bg;
  }

  &--light-bg {
    border-bottom: $section-title-border-size solid $color-primary;
    color: $color-primary;
  }
}

.summary {
  background: lighten($color-secondary, 35);
  padding-bottom: 2rem;
  padding-top: 2rem;

  &__text {
    @include content-font;
    color: $color-font-light-bg;
  }
}

.contact {
  padding-bottom: 2rem;
  padding-top: 2rem;

  &__title {
    @include heading-font;
    text-align: center;
  }
}

.activity {
  padding-bottom: 3rem;

  &--odd {
    background: lighten($color-secondary, 45);
  }

  &--even {
    background: lighten($color-primary, 35);
  }

  &__text {
    @include content-font;
    color: $color-font-dark-bg;
    padding-left: 5px;
    padding-right: 5px;

    &--activities {
      color: $color-font-light-bg;
    }
  }
}

.btn {
  &--primary {
    @include content-font;
    background-color: $color-primary !important;
    color: $color-font-dark-bg !important;

    &:hover,
    &:focus {
      background-color: lighten($color-primary, 10) !important;
    }
  }

  &--secondary {
    @include content-font;
    background-color: $color-secondary !important;
    color: $color-font-dark-bg !important;

    &:hover,
    &:focus {
      background-color: lighten($color-secondary, 10) !important;
    }
  }

  &--white-secondary {
    @include content-font;
    background-color: $white !important;
    color: $color-secondary !important;

    &:hover,
    &:focus {
      background-color: darken($white, 10) !important;
    }
  }

  &--light {
    @include content-font;
    background-color: $white !important;

    &:hover,
    &:focus {
      background-color: darken($white, 10) !important;
    }
  }
}

.content-text {
  @include content-font;
  ol>li {
    margin-left: 1rem;
  }
}

.select-container {
  padding-bottom: .5rem;
}

.custom-select {
  display: inline-block;
  // width: 100%;
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;  background-size: auto auto;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  appearance: none;

  &:focus {
      border-color: $color-primary;
      outline: 0;
      box-shadow: inset 0 1px 2px rgba(0,0,0,.075),0 0 5px rgba(87, 248, 149, 0.5);
  }
}

.success-text {
  border-color: $color-primary;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

.color-primary {
  color: darken($color-primary, 10);
}

.color-secondary {
  color: $color-secondary;
}

.share {
  display: inline;
  padding-left: .512rem;
  padding-right: .512rem;
}

button.share-icon {
  @include content-font;
  display: block;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-align: center;

  &>a {
    text-decoration: none;
  }

  &--fb {
    background: #3b5998;
    color: #f3f3f3;
    font-size: $icon-font-size;

    &:before {
    font-family: fontello;
    content: '\f09a';
    }

    &:hover {
      background: lighten($color: #3b5998, $amount: 15)
    }
  }

  &--email {
    background: $color-secondary;
    color: #f3f3f3;
    font-size: $icon-font-size;

    &:before {
    font-family: fontello;
    content: '\f2b6';
    }

    &:hover {
      background: lighten($color: $color-secondary, $amount: 15)
    }
  }
}
