// DESCRIPTIVE VARIABLES //
// Colors //
$black: #000;
$green: #6FA646;
$yellow: #E8BD2D;
$white: #FFF;


// FUNCTIONAL VARIABLES //
$color-primary: $green;
$color-secondary: $yellow;
$color-font-dark-bg: $white;
$color-font-light-bg: #333;
$color-background-event-bottom: darken($white, 7);
$hero-vertical-padding: 5rem;
$section-title-border-size: 3px;
$section-title-padding: 1.5rem;
$padding-section-bottom: 5rem;


// MIXINS //
@mixin border {
  border: 1px solid $black;
}
