.signup {
  background: $color-background-signup;
  margin-top: 1.5rem !important;
  padding-bottom: 1.3rem;

  &__title {
    @include heading-font;
    color: $color-font-dark-bg;
    font-size: 1.953rem;
    text-align: center;
  }

  &__input {
    color: $color-secondary;
  }
}
