**/.idea/
**/css/.sass-cache
**/css/style.css.map
**/node_modules/
**/src/
**/img/one-people/original/
**/img/one-people/resized/
**/img/one-people/optimized/
**/img/totems-bg-scaled25.jpg
**/img/totems-bg-scaled50.jpg
dist/
